@page "/"
<h1>Witaj w panelu zarządzania pracownikami. </h1>
<br />
<h5>Można dodawać i usuwać pracowników. 
    <br />
    Można także wpisywać przepracowane godziny oraz resetować ich stan przy ich spieniężeniu.</h5>

<h5>Proszę o zalogowanie się</h5>
<LoginDisplay />

@code {

}
